extends ../../layout.jade
block title
  title= client.name
  
block links
  link(type="text/css", rel="stylesheet", href="/css/app/projects/projects.css")

block content
  div(class="container")
    div(class="fixed-action-btn" style="bottom: 45px; right: 45px;")
      a(href=client._id + "/projects/add", class="btn-floating btn-large waves-effect waves-light red lighten-2")
        i(class="large mdi-content-add")
        
    div(class="row")
      div(class="col s7")
        h4(class="red-text text-lighten-2 thin")
          = client.name
      div(class="col s5")
        a(href="/app/clients" class="waves-effect waves-blue btn-flat right bottom blue-text")
          i(class="mdi-navigation-arrow-back left")
          | Back
    
    if client && client.projects && client.projects.length > 0
      div(class="row")
        div(class="col s12")
          h5(class="grey-text thin") Projects
          div(class="divider grey")
      div(class="row")
        div(class="col s12 m6 offset-m6")
          div(class="input-field")
            input(id="search" type="search" required)
            label(for="search")
              i(class="mdi-action-search")
              | &nbsp;&nbsp;Filter
            i(class="mdi-navigation-close")
                  
    //div(class="divider red lighten-2")
    //br
         
    if (client && client.projects && client.projects.length > 0)
      each project in client.projects
        div(class="row project-row", project=project.name)
          div(class="col s12")
            a(href="/app/clients/" + client._id + "/projects/" + project._id)
              div(class="card white")
                div(class="card-content blue lighten-2")
                  div(class="row")
                    div(class="col s5")
                      div(class="row")
                        div(class="col s12")
                          span(class="card-title white-text")= project.name
                      div(class="row")
                        div(class="col s12")
                          if project.location
                            span(class="white-text")= project.location
                div(class="card-action")
                  a(href='/app/clients/' + client._id + '/projects/' + project._id + '/edit', class="right") Edit Project
                  //a(href='#' class="right") View Client Info
                  a(href="/app/clients/" + client._id + "/projects/" + project._id, class="right") View Project
    else
      div(class="row", style="margin-top: 15%")
        div(class="col s12")
          h4(class="grey-text text-lighten-1 center-align") No projects to display

block scripts
  script(src="/js/app/client/client.js")