div(class="col s12")
  br
  div(class="row")
    div(class="col s7")
      div(class="card white")
        div(class="card-content")
          span(class="card-title grey-text") Overview
        div(class="card-action grey lighten-4")
          a(href='/app/clients/' + clientId + '/projects/' + invoice._project + '/invoices/' + invoice._id + '/reports/invoice') Download Invoice
          a(href='#') Mark as Paid
          a(href='/app/clients/' + clientId + '/projects/' + invoice._project + '/invoices/' + invoice._id + '/edit') Edit Invoice
        div(class="card-content")
            
    div(class="col s5")
      div(class="card white")
        div(class="card-content")
          span(class="card-title grey-text center-align") Cost Breakdown
        div(class="card-content green lighten-2 white-text")
          table(class="breakdown-table")
    
            tbody
              tr
                td Labor
                td= laborTotal
              tr
                td Items
                td= itemsTotal
              tr
                td Additional Items
                td= addItemsTotal
              tr
                td Supervision
                td= supervision
              tr
                td
                  br
                td
                  br
              tr
                td Sub-Total
                td= subtotal
              tr
                td Overhead & Profit
                td= op
              tr
                td Grand Total
                td= grandTotal
              
      div(class="card white")
        div(class="card-content")
          span(class="card-title grey-text center-align") Labor Details
        div(class="card-content blue lighten-2 white-text")
          table(class="breakdown-table")
            thead
              tr
                th(data-field="employee") Employee
                th(data-field="hours") Hours Worked
    
            tbody
              each worker in workerTotals
                tr
                  td= worker.name
                  td= worker.hoursWorked